<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Admin Dashboard</title>
  </head>
  <body>
    <h1>Admin Dashboard</h1>

    <!-- Books Section -->
    <h2>View Details</h2>

    <div id="adminDashboard">
      <a href="/availBooks" id="availBooks" class="ad_btn">Available Books</a>

      <a href="/addbook" id="addBook" class="ad_btn">Add a Book</a>

      <a href="/borrowedBooks" id="borrowedBooks" class="ad_btn">Borrowed Books</a>

      <a href="/registeredUsers" id="registeredUsers" class="ad_btn">Registered Users</a>
    </div>
  </body>
</html>
