<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Borrowed Books</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
<h1>Borrowed Books</h1>
  <div id="align-center">
    <table>
      <thead>
      <tr>
        <th>Sl No</th>
        <th>Book Name</th>
        <th>Borrowed By</th>
        <th>Due Date</th>
        <th>Fine</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="borrowed : ${borrowedBooks}">
        <td th:text="${borrowedStat.index+1}"></td>
        <td th:text="${borrowed.book.bookName}"></td>
        <td th:text="${borrowed.user.username}"></td>
        <td th:text="${borrowed.dueDate}"></td>
        <td>No Fine</td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>