<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registered Users</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
<h1>Registered Users</h1>
<div id="align-center">
    <table>
        <thead>
        <tr>
            <th>Sl No</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${registeredUsers}">
            <td th:text="${userStat.index +1}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
