<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADD EMPLOYEE</h1>
    <form th:action="@{/add}" th:object="${employee}" method="post">
        <label>Name:</label>
        <input type="text" th:field="*{name}" required /> <br>
        <label>Role:</label>
        <input type="text" th:field="*{role}" required /> <br>
        <button type="submit">Save</button>
    </form>
</body>
</html>