<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Faculty</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <script>
    window.onload = function() {
      var successMessage = document.getElementById("successMessage");
      if (successMessage && successMessage.innerText.trim() !== "") {
        //alert(successMessage.innerText);
        document.getElementById("username").value = "";
        document.getElementById("password").value = "";
      }
    }
  </script>
</head>
<body>
<div id="outer">
  <h2>Add Faculty</h2>
  <div id="card">
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    <p th:if="${success}" th:text="${success}" id="successMessage" style="color: green; display: none;"></p>
    <form th:action="@{/faculty/register}" th:object="${faculty}" method="post">
      <label for="username">Username : </label>
      <input type="text" th:field="*{username}" name="username" id="username" required> <br>
      <br>
      <label for="password">Password : </label>
      <input type="password" th:field="*{password}" name="password" id="password" required> <br><br>
      <button type="submit" style="margin-left: 70px;">SUBMIT</button>
    </form>
  </div><br>
  <button><a th:href="@{/goToAdminDashboard}">Go Back</a></button>
</div>
  
</body>
</html>
