<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Faculty added</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<p></p>

<div id="outer2">
    <p id="success-text">Faculty Added successfully!!</p>
    <br>
    <button id="big"><a th:href="@{/add/faculty}">Add More Faculty</a></button>
    <button id="big"><a th:href="@{/adminDashboard}">Go to Dashboard</a></button>
    <button id="big"><a th:href="@{/}">Go to Home</a></button>
  </div>
</body>
</html>