<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
</head>
<body>
  <div id="outer">
    <h2>Admin Login</h2>
    <div id="card">
      <p th:if="${error}" th:text="${error}" style="color: red;"></p>
      <p th:if="${success}" th:text="${success}" style="color: green;"></p>
      <form th:action="@{/admin/login}" th:object="${admin}" method="post">
        <label for="username">Username : </label>
        <input type="text" th:field="*{username}" name="username" id="username" required> <br>
        <br>
        <label for="password">Password : </label>
        <input type="password" th:field="*{password}" name="password" id="password" required> <br><br>
          <button type="submit">SUBMIT</button>
      </form>
    </div>
  </div>
</body>
</html>