<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Exam</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div id="outer4">
        <div id="card">
            <h2>Create Exam</h2>
        <form th:action="@{/create}" th:object="${exam}" method="post">
            <table>
                <tr>
                    <td><label for="examName">Exam Name : </label></td>
                    <td><input type="text" th:field="*{examName}" name="examName" id="examName" required></td>
                </tr>
                <tr>
                    <td><label for="noOfQuestions">No of Questions : </label></td>
                    <td><input type="number" min="5" max="20" step="5" th:field="*{noOfQuestions}" name="noOfQuestions" id="noOfQuestions" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" style="margin-left: 70px;">SUBMIT</button></td>
                </tr>
            </table>
        </form>
        </div>
    </div>
</body>
</html>
