<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Faculty Dashboard</title>
</head>
<body>
    <h2>Faculty Dashboard</h2>
    <table>
        <thead>
            <tr>
                <th>Exam No</th>
                <th>Exam Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="exam : ${exams}">
                <td th:text="${exam.examId}"></td>
                <td th:text="${exam.examName}"></td>
                <td>
                    <a th:if="${exam.status}"
                       th:href="@{/changeStatus(id=${exam.examId}, username=${session.loggedFaculty != null ? session.loggedFaculty.username : ''})}"
                       style="margin-left: 0px;"
                       id="on_btn">ON</a>

                    <a th:unless="${exam.status}"
                       th:href="@{/changeStatus(id=${exam.examId}, username=${session.loggedFaculty.username})}"
                       style="margin-left: 0px;"
                       id="off_btn">OFF</a>
                </td>
            </tr>
        </tbody>
    </table>
    <button><a th:href="@{/create}">Create Exam</a></button>
</body>
</html>