<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script>
        window.onload = function() {
          var successMessage = document.getElementById("successMessage");
          if (successMessage && successMessage.innerText.trim() !== "") {
            //alert(successMessage.innerText);
            document.getElementById("studentName").value = "";
            document.getElementById("rollNo").value = "";
            document.getElementById("department").value = "";
            document.getElementById("year").value = "";
          }
        }
      </script>
</head>
<body>
<div id="outer">
    <h2>Student Registration</h2>
    <div id="card">
        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
        <p th:if="${success}" th:text="${success}" id="successMessage" style="color: green; display: none;"></p>
        <form th:action="@{/student/register}" th:object="${student}" method="post">
          <table>
            <tr>
              <td><label for="studentName">Student Name : </label></td>
              <td><input type="text" th:field="*{studentName}" name="studentName" id="studentName" required></td>
            </tr>
            <tr>
              <td><label for="rollNo">RollNo : </label></td>
              <td><input type="number" min="1000" max="9999" th:field="*{rollNo}" name="rollNo" id="rollNo" required></td>
            </tr>
            <tr>
              <td><label for="department">Department : </label></td>
              <td><select th:field="*{department}" name="department" id="department" required>
                <option value="">Select Department</option>
                <option value="IT">IT</option>
                <option value="CSE">CSE</option>
                <option value="MECH">MECH</option>
                <option value="ECE">ECE</option>
                <option value="EEE">EEE</option>
                <option value="CIVIL">CIVIL</option>
            </select></td>
            </tr>
            <tr>
              <td><label for="year">Year : </label></td>
              <td><select th:field="*{year}" name="year" id="year" required>
                <option value="">Select Year</option>
                <option value="1">First Year</option>
                <option value="2">Second Year</option>
                <option value="3">Third Year</option>
                <option value="4">Final Year</option>
              </select></td>
            </tr>
            <tr>
              <td><label for="password">Password : </label></td>
              <td><input type="password" th:field="*{password}" name="password" id="password" required></td>
            </tr>
            <tr>
              <td></td>
              <td><button type="submit">SUBMIT</button></td>
            </tr>
          </table>
        </form>
    </div>
</div>
</body>
</html>